<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807514332709-kg710cpesrl3k5aa1co4ok8k9n001pee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807514332709-kg710cpesrl3k5aa1co4ok8k9n001pee</string>
	<key>API_KEY</key>
	<string>AIzaSyAnYS27YzDuQ6u938mrJEixjuii12UwxGM</string>
	<key>GCM_SENDER_ID</key>
	<string>807514332709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HN.project-appchat</string>
	<key>PROJECT_ID</key>
	<string>project-appchat-52033</string>
	<key>STORAGE_BUCKET</key>
	<string>project-appchat-52033.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807514332709:ios:ebcd5221c46fbf13aee9cc</string>
</dict>
</plist>